# fly.toml app configuration file generated for kolibri-flyio-a6uy3g on 2025-11-23T15:30:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kolibri-flyio-a6uy3g'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "kolibri_data"
  destination = "/root/.kolibri"
